<div class="d-flex flex-row justify-content-end">
	<div class="badges">
		<span 
			class="badge badge-secondary mr-1 mb-1" 
			*ngFor="let ar of accessRights.accessRights"
			style="padding: .6rem"
		>
			{{ar|normalizeEnumString}} <i class="fas fa-times ml-1" (click)="removeAccessRight(ar)"></i>
		</span>
	</div>
	<div *ngIf="availableArs.length > 0">		
		<bs-dropdown>
		    <button type="button" class="btn btn-sm btn-dark dropdown-toggle no-caret">
		    	<i class="fas fa-plus"></i>
		    </button>
		    <bs-dropdown-menu class="dropdown-menu-right">
		    	<li *ngFor="let ar of availableArs">
		    		<a class="dropdown-item" href="#" (click)="addAccessRight($event, ar)">{{ar|normalizeEnumString}}</a>
	    		</li>
		    </bs-dropdown-menu>
		</bs-dropdown>
	</div>
</div>