<!-- Show Users Modal -->
<div class="modal d-block show fade in" tabindex="-1" role="dialog" aria-labelledby="showUsersLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<h4 class="modal-title" id="showUsersLabel">User Information</h4>
                <button (click)="closeSC.add($event)" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5>User Info</h5>
                <table class="table table-sm">
            		<tbody>
            			<tr>
            				<td width="1"><strong>Username</strong></td>
            				<td>{{user.username}}</td>
            			</tr>
            			<tr>
            				<td width="1"><strong>Email</strong></td>
            				<td>{{user.email}}</td>
            			</tr>
            		</tbody>
            	</table>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" (click)="closeSC.add($event)">Close</button>
            </div>
        </div>
    </div>
</div>