<div>

	<div class="mb-3 d-flex flex-row align-items-center">
		<h4 class="w-100 m-0">Org. Managers</h4>
		<div>
			<button class="btn btn-sm btn-primary" (click)="showFindUserModal = true">Add Manager</button>
		</div>
	</div>
	
	<div class="alert alert-info" *ngIf="managers.length === 0">
		There aren't any organization managers yet.
	</div>
	
	<table class="table table-striped pyro-table mb-4" *ngIf="managers.length > 0">
		<thead>
			<tr>
				<th width="1">#</th>
				<th>Username</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let manager of managers">
				<td>{{manager.dywaId}}</td>
				<td>{{manager.username}}</td>
				<td>{{manager.email}}</td>
				<td class="text-right">
					<button class="btn btn-sm btn-dark" (click)="removeOrgManagerRole(manager)"><i class="fa fa-times"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
		
</div>

<search-user
    *ngIf="showFindUserModal"
    (close)="addOrgManagerRole($event)"
>
</search-user>