<div class="modal show d-block fade in" *ngIf="show && organization != null" id="editOrganizationModal" tabindex="-1" role="dialog" aria-labelledby="editOrganizationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editOrganizationlabel">Edit Organization: {{organization.name}}</h4>
                <button (click)="dismissSC.add($event)" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            	<form (ngSubmit)="updateOrganization()">
                    <div class="form-group">
                        <label for="orgName">Name</label>
                        <input #orgName [(ngModel)]="name" type="text" class="form-control" id="orgName" placeholder="The name of the organization">
                    </div>
                    <div class="form-group">
                        <label for="orgDescription">Description</label>
                        <textarea #orgDescription [(ngModel)]="description" class="form-control" id="orgDescription" placeholder="The description of the organization"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="updateOrganization()">Update</button>
                <button type="button" class="btn" data-dismiss="modal" (click)="dismissSC.add($event)">Close</button>
            </div>
        </div>
    </div>
</div>