<!-- Show Users Modal -->
<div class="modal d-block show fade in" id="showUsersModal" tabindex="-1" role="dialog" aria-labelledby="showUsersLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<h4 class="modal-title" id="showUsersLabel">Known Users</h4>
                <button (click)="closeSC.add($event)" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5>Add a user to your list</h5>
                <form (ngSubmit)="submitSearchUser(findUserName.value,findUserEmail.value)" >
                	<div class="form-row d-flex" style="align-items: flex-end;">
					    <div class="form-group col-5">
					      <label for="findUserName">Name</label>
                          <input #findUserName type="text" class="form-control" id="findUserName" placeholder="Jane Doe" required>
					    </div>
					    <div class="form-group col-5">
					      <label for="findUserEmail">Email</label>
                          <input #findUserEmail type="email" class="form-control" id="findUserEmail" placeholder="jane.doe@example.com" required>
					    </div>
					    <div class="form-group col-2">
					      <button type="submit" (click)="submitSearchUser(findUserName.value,findUserEmail.value)" class="btn mt-4 btn-block">Add</button>
					    </div>
					  </div>                    
                </form>
                <br />
                <div *ngIf="notFound" class="alert alert-danger">No user found</div>
                <div *ngIf="found" class="alert alert-success">User found and added</div>
                <table class="table table-striped" *ngIf="user.knownUsers.length > 0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let sharedUser of user.knownUsers; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{sharedUser.username}}</td>
                        <td>{{sharedUser.email}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="user.knownUsers.length === 0">
                	You don't know any other user yet.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" (click)="closeSC.add($event)">Close</button>
            </div>
        </div>
    </div>
</div>