<div class="card pyro-panel h-100 d-flex flex-column">
	<div class="card-header d-flex flex-row align-items-center pyro-panel-heading">
		<div class="ml-auto btn-group btn-group-sm flex-shrink-0" role="group">
			<button
					*ngIf="isDefault"
					type="button"
					class="btn btn-sm"
					data-toggle="tooltip" data-placement="bottom" title="Show list"
					(click)="setDefault(false)">
				<i class="fas fa-images"></i>
			</button>
			<button
					*ngIf="!isDefault"
					type="button"
					class="btn btn-sm"
					data-toggle="tooltip" data-placement="bottom" title="Show elements"
					(click)="setDefault(true)">
				<i class="fas fa-align-justify"></i>
			</button>
			<button
					type="button"
					class="btn btn-sm"
					data-toggle="tooltip" data-placement="bottom" title="Collapse all groups"
					(click)="collapseAll($event)">
				<i class="fas fa-folder"></i>
			</button>
			<button
					type="button"
					class="btn btn-sm"
					data-toggle="tooltip" data-placement="bottom" title="Expand all groups"
					(click)="expandAll($event)">
				<i class="fas fa-folder-open"></i>
			</button>
		</div>
	</div>
	<div class="mb-0 h-100" role="tablist" style="color: #555; overflow: auto">
		<template [ngIf]="isDefault">
			<div class="card pyro-panel rounded-0" *ngFor="let mapList of map">
				<div class="card-header rounded-0 cursor-pointer" style="background: #eaeaea" (click)="openEntry(mapList,$event)">
					<i class="fas fa-list-ul"></i> {{ mapList.name }}
				</div>
				<div class="card-body p-0">
					<ul class="list-group list-group-flush" *ngIf="mapList.open">
						<li
								class="list-group-item pyro-list-group" [ngClass]="canEdit ? 'draggable' : 'not-draggable'"
								*ngFor="let value of mapList.values"
								[attr.draggable]="canEdit" ondragstart="start_drag_element(event)"
								[attr.data-typename]="value.identifier"
								data-toggle="tooltip" data-placement="bottom" title="Drag to Canvas to create"
						>
							<img
									*ngIf="value.imgPath!=null"
									[src]="value.imgPath"
									[attr.draggable]="canEdit" ondragstart="start_drag_element(event)"
									[attr.data-typename]="value.identifier"
									style="width: 16px;height: 16px;margin-right: 5px;"
							/>{{value.name}}
						</li>
					</ul>
				</div>
			</div>
		</template>
		<template [ngIf]="!isDefault">
			<div class="card pyro-panel rounded-0" *ngFor="let mapList of map">
				<div class="card-header rounded-0 cursor-pointer" style="background: #eaeaea" (click)="openEntry(mapList,$event)">
					<i class="fas fa-list-ul"></i> {{ mapList.name }}
				</div>
				<div class="card-body p-0">
					<div
						*ngFor="let value of mapList.values"
						[attr.id]="'wysiwig'+value.identifier.replaceAll('\.','_')"
						style="height:50px;"
					></div>
				</div>
			</div>
		</template>
	</div>
</div>
