<h4>Access Rights</h4>
<p class="text-muted">Specify organization wide permissions for each user</p>
<hr>

<div class="form-group d-flex">
	<input type="text" class="form-control w-100" [(ngModel)]="filter" placeholder="Filter by email or username" />
	<button class="btn btn-dark btn-sm ml-2" *ngIf="filter != ''" (click)="filter = ''">
		<i class="fas fa-fw fa-times"></i>
	</button>
</div>

<table class="table pyro-table">
	<thead>
		<tr>
			<th width="1">#</th>
			<th>Name</th>
			<th>Email</th>
			<th width="1">Role</th>
			<th class="text-right">Permissions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users">
			<td>{{user.dywaId}}</td>
			<td>{{user.username}}</td>
			<td>{{user.email}}</td>
			<td>
				<span class="badge {{getRoleBadgeClass(user)}}">{{getRoleBadgeText(user)}}</span>
			</td>
			<td>
				<access-rights-list 
					*ngIf="orgArvsMap[user.dywaId] != null"
					[user]="user" 
					[accessRights]="orgArvsMap[user.dywaId]"
					(updated)="updateArv($event, user.dywaId)"
				>
				</access-rights-list>
			</td>
		</tr>
	</tbody>
</table>