<navigation [user]="user"></navigation>

<div class="container">
  <h4>Profile</h4>
  <p class="text-muted">Update your profile information</p>
  <hr>
  
  <div class="row" *ngIf="user != null">
  	<div class="col-3">
  	  <div class="form-group">
  	  	<label>Profile Image</label>
  	  	<profile-image [user]="user"></profile-image>
  	  </div>
  	  <div class="form-group d-flex flex-row">
  	    <input class="form-control-file w-100" ng2-file-select [uploader]="uploader" [disabled]="uploader.isUploading" type="file">
  	    <button class="btn btn-sm btn-secondary ml-2" (click)="removeProfileImage()" *ngIf="user.profilePicture != null">
  	      <i class="fas fa-fw fa-times"></i>
  	    </button>
  	  </div>
  	</div>
  	<div class="col-9">
      <form (submit)="updateUser($event, email.value)">
  		<div class="form-group">
  		  <label>Email</label>
  		  <input #email required class="form-control" type="text" placeholder="Enter your email address" value="{{user.email}}">
  		</div>
  		<div class="text-right">
		  <button type="submit" class="btn btn-primary" (click)="updateUser($event, email.value)">Save</button>
		</div>
  	  </form>
  	</div>
  </div>
</div>