<h4>Settings</h4>
<p class="text-muted">
	System wide settings
</p>
<hr>

<div>
	<button class="btn btn-primary btn-sm" (click)="save()">Save</button>
</div>

<hr>

<div class="list-group" *ngIf="settings != null">
	<div class="list-group-item pyro-list-entry d-flex flex-row">
		<div class="w-100 mr-3">
			<strong>Globally create organizations</strong>
			<p class="mb-0 text-muted">
				When enabled, every user is allowed to create organizations without being an organization manager.
			</p>
		</div>
		<div>
			<toggle-button [enabled]="settings.globallyCreateOrganizations" (changed)="handleChanged($event)">
			</toggle-button>
		</div>
	</div>
</div>