<h4>Appearance</h4>
<p class="text-muted">Define the organization theme</p>
<hr>

<div>
	<button class="btn btn-primary btn-sm" (click)="save(null)">
		Save
	</button>
	<button class="btn btn-sm" (click)="reset()">
		Reset
	</button>
	<hr>
	
	<style-form [style]="style" (updated)="handleStyleUpdated($event)" *ngIf="style != null"></style-form>
</div>