<div class="modal show d-block fade in" *ngIf="show" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="createOrganizationlabel">Add a User to the Organization</h4>
                <button (click)="dismissSC.add($event)" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            	<div [ngClass]="{'mb-3': user != null}">
            		<search-user [user]="currentUser" (userSelected)="selectUser($event)"></search-user>
            	</div>
            	            	
            	<div class="form-group" *ngIf="user != null">
            		<label>Role</label>
            		<select class="form-control" [(ngModel)]="selectedRole">
            			<option [value]="OrganizationRole.MEMBER.toString()" [selected]="true">Member</option>
            			<option [value]="OrganizationRole.OWNER.toString()">Owner</option>
            		</select>
            	</div>            	
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" *ngIf="user != null" (click)="addUser()">Add user</button>
                <button type="button" class="btn" data-dismiss="modal" (click)="dismissSC.add($event)">Close</button>
            </div>
        </div>
    </div>
</div>