<div>

	<div class="mb-3 d-flex flex-row align-items-center">
		<h4 class="w-100 m-0">Admins</h4>
		<div>
			<button class="btn btn-sm btn-primary" (click)="showFindUserModal = true">Add Admin</button>
		</div>
	</div>
	
	<table class="table table-striped pyro-table mb-4" *ngIf="admins.length > 0">
		<thead>
			<tr>
				<th width="1">#</th>
				<th>Username</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let admin of admins">
				<td>{{admin.dywaId}}</td>
				<td>{{admin.username}}</td>
				<td>{{admin.email}}</td>
				<td class="text-right">
					<button class="btn btn-sm btn-dark" (click)="removeAdminRole(admin)"><i class="fa fa-times"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
	
</div>

<search-user
    *ngIf="showFindUserModal"
    (close)="addAdminRole($event)"
>
</search-user>