<h4>Members</h4>
<p class="text-muted">Manage members and owners of the organization</p>
<hr>

<div *ngIf="currentUser != null && organization != null && isOrgOwner">
	<button class="btn btn-sm btn-primary" (click)="addUserModal.open(currentUser)">Add User</button>
	<hr>
	
	<h5>Owners</h5>
	<table class="table pyro-table">
		<thead>
			<tr>
				<th width="1">#</th>
				<th>Name</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of organization.owners">
				<td>{{user.dywaId}}</td>
				<td>{{user.username}}</td>
				<td>{{user.email}}</td>
				<td class="text-right">
					<div class="btn btn-group btn-group-sm p-0">
						<button *ngIf="user.dywaId!=currentUser.dywaId" class="btn btn-dark" (click)="addMember(user)"><i class="fas fa-caret-down"></i></button>
						<button *ngIf="user.dywaId!=currentUser.dywaId" class="btn btn-dark" (click)="removeUser(user)"><i class="fas fa-times"></i></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<h5>Members</h5>
	<table class="table pyro-table" *ngIf="organization.members.length > 0">
		<thead>
			<tr>
				<th width="1">#</th>
				<th>Name</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of organization.members">
				<td>{{user.dywaId}}</td>
				<td>{{user.username}}</td>
				<td>{{user.email}}</td>
				<td class="text-right">
					<div class="btn btn-group btn-group-sm p-0">
						<button class="btn btn-dark" (click)="addOwner(user)"><i class="fas fa-caret-up"></i></button>
						<button class="btn btn-dark" (click)="removeUser(user)"><i class="fas fa-times"></i></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>	
	<div class="alert alert-info" *ngIf="organization.members.length === 0">
		There are no members in the organization yet.
	</div>
</div>

<add-user 
	#addUserModal 
	(dismiss)="addUserModal.close()" 
	(addMember)="addMember($event)"
	(addOwner)="addOwner($event)"
>
</add-user>