<div class="modal show d-block fade in" *ngIf="show" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createOrganizationlabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="createOrganizationlabel">Create a new Organization</h4>
                <button (click)="dismissSC.add($event)" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            	<form (ngSubmit)="createNewOrganization(orgName.value, orgDescription.value)">
                    <div class="form-group">
                        <label for="orgName">Name</label>
                        <input #orgName type="text" class="form-control" id="orgName" placeholder="The name of the organization">
                    </div>
                    <div class="form-group">
                        <label for="orgDescription">Description</label>
                        <textarea #orgDescription class="form-control" id="orgDescription" placeholder="The description of the organization"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="createNewOrganization(orgName.value, orgDescription.value)">Create Organization</button>
                <button type="button" class="btn" data-dismiss="modal" (click)="dismissSC.add($event)">Close</button>
            </div>
        </div>
    </div>
</div>