<div class="modal show d-block fade in" tabindex="-1" role="dialog" aria-labelledby="deleteProjectLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<h4 class="modal-title" id="deleteProjectLabel">Delete Project {{project.name}}</h4>
                <button (click)="closeModal($event)" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the Project {{project.name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteProject($event)">Delete</button>
                <button type="button" class="btn" data-dismiss="modal" (click)="closeModal($event)">Cancel</button>
            </div>
        </div>
    </div>
</div>