<navigation [user]="currentUser"></navigation>

<div class="container" *ngIf="currentUser != null && organization != null">
	<div class="row">	
		<div class="col-3" *ngIf="isOrgOwner">
			<div class="sidebar">
				<div class="sidebar-section">
					<h4 class="sidebar-section-title">{{organization.name}}</h4>
					<hr>
					<a class="sidebar-section-item" [ngClass]="{'active': isMenuState('projects')}" (click)="setMenuState($event, 'projects')" href="#">Projects</a>
					<a class="sidebar-section-item" [ngClass]="{'active': isMenuState('members')}" (click)="setMenuState($event, 'members')" href="#">Members</a>
					<a class="sidebar-section-item" [ngClass]="{'active': isMenuState('accessRights')}" (click)="setMenuState($event, 'accessRights')" href="#">Access Rights</a>
					<a class="sidebar-section-item" [ngClass]="{'active': isMenuState('appearance')}" href="#" (click)="setMenuState($event, 'appearance')">Appearance</a>
				</div>
			</div>
		</div>
		<div [ngClass]="isOrgOwner ? 'col-9' : 'col-12'">
			<projects *ngIf="isMenuState('projects')" [organization]="organization"></projects>
			<users *ngIf="isMenuState('members')" [organization]="organization" [user]="currentUser"></users>
			<access-rights *ngIf="isMenuState('accessRights')" [organization]="organization" [user]="currentUser"></access-rights>
			<appearance *ngIf="isMenuState('appearance')" [organization]="organization" [user]="currentUser"></appearance>
		</div>
	</div>
</div>