<span #folderEl class="draggable dropzone" [attr.data-folder-id]="folder.dywaId">
	<span *ngIf="!editMode">
	    <i
	        (click)="openFolder($event)"
	        [ngClass]="getFolderClass()"
	    ></i> <a href (click)="openFolder($event)" (contextmenu)="showContextMenu($event)">{{folder.name}}</a>
	    <delete-entry #deleteFolderModal
	    	(delete)="deleteSC.add(folder)"
	    ></delete-entry>
	</span>
	<span *ngIf="editMode" class="d-flex flex-row align-items-center mr-3">
		<div class="mr-2">
		    <i (click)="openFolder($event)" [ngClass]="getFolderClass()"></i>
	    </div>
	    <form (ngSubmit)="save(null)" class="d-flex w-100 flex-shrink-0">
		    <input class="form-control w-100 py-0" type="text" [(ngModel)]="folder.name" style="height: auto" required>
		    <div class="btn-group btn-group-sm">
			    <button
			        class="btn btn-sm btn-dark"
			        (click)="save($event)"
			        type="button"
			    >
			        <i class="fas fa-check"></i>
			    </button>
			    <span
		            class="btn btn-sm btn-dark"
		            (click)="editMode = false"
		       	 >
		            <i class="fas fa-times"></i>
		         </span>
	         </div>
	    </form>
	</span>
</span>
<ul [hidden]="!open" class="pl-2 ml-2" style="LIST-STYLE-TYPE: none; border-left: 1px dashed rgba(255,255,255,.2)">
    <li *ngFor="let entry of folder.innerFolders" style="white-space: nowrap">
        <folder-entry
            [folder]="entry"
            [currentFile]="currentFile"
            [permissionVectors]="permissionVectors"
            [project]="project"
            [handleDrop]="handleDrop"
            (delete)="removeFolder($event)"
            (hasDeleted)="hasDeletedSC.add($event)"
            (hasChanged)="hasChangedSC.add($event)"
            (createFile)="createFileSC.add($event)"
            (createFolder)="createFolderSC.add($event)"
            (openFile)="openFileSC.add($event)"
        ></folder-entry>
    </li>
    <li *ngFor="let file of folder.files" style="white-space: nowrap">
        <file-entry
            [file]="file"
            [currentFile]="currentFile"
            [permissionVectors]="permissionVectors"
            [project]="project"
            (openFile)="openFileSC.add($event)"
            (delete)="deleteFile($event)"
        ></file-entry>
    </li>
</ul>
