.micro-column-right-xl {
	width: calc(100% - 75px);
    margin-left: 18px;
}
.micro-column-right-sm {
	width:calc(100% - 283px);
}
.pyro-micro-navigation {
	margin-bottom:-11px;
	transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
#menu-button:focus {
	outline: none;
	border: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pyro-micor-menu {
	height:100vh;
}
#scroll-menu::-webkit-scrollbar {
  width: 0px;
}
#scroll-menu {
	position: absolute;
    display: grid;
    margin-left: 31px;
    width: 39px;
    height: calc(100vh + 10px);
    overflow-y: auto;
    overflow-x: hidden;
}

@keyframes slide-in {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateY(0%); }
}

.grid-stack-item.hidden {
  height: 0 !important;
  overflow: hidden;
  visibility: hidden;
}

.grid-stack-item.fullscreen {
  height: auto !important;
  width: 100%;
  left: 0;
  z-index: 100;
  bottom: 10px !important;
  position: fixed;
  top: 4.2rem !important;
}

.grid-stack-item-content {
  display: flex;
  flex-direction: column;  
  border: 1px solid #232323;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
  background: rgba(255,255,255,.1);
}

.grid-stack-item-header {
  padding: .25rem 1rem;
  margin: 0;
  margin-bottom: .5rem;
  background: #2d2d2d;
  cursor: grab;
  color: #868686;
  height: 28px;
}

.grid-stack-item-header i {
  display: none;
  cursor: pointer;
}
.grid-stack-item-header i:hover {
  color: #fff;
}
.grid-stack-item-header:hover i {
  display: inline;
}

.grid-stack-item-body {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.pyro-panel-body {
  background: none;
}



.grid-stack-item-body bs-tabs {
  display: block;
  flex-shrink: 0;
  width: 100%;
}

.grid-stack-item-body bs-tab-content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-direction: column;
}

.grid-stack-item-body bs-tab-content > div {
  flex-direction: column;
  display: flex;
}
